:root {
  --main-background-color: #121212;
  --secondary-background-color: #302e2e;
  --primary-text-color: #f0f4f8;
  --accent-color: rgb(177, 122, 21);
  font-size: larger;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-background-color);
}

.main-container {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border-radius: 10px;

  height: 50%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  justify-content: space-between;
}

.input-container input {
  border-radius: 5px;
  font-size: larger;
  background-color: var(--accent-color);
  border: none;
  padding: 10px 20px;
  outline: none;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.data-container,
#place,
#number {
  display: inline-block;
  margin: 5px;
  font-size: larger;
}
